.detail-container{
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
}

.detail-container img{
  width:600px;
}

.header-flex{
  display: flex;
  justify-content: space-between;
}

